<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
      function checkLength(el) {
        if (el.value.length >= 6) {
          document.getElementById('submitButton').disabled=false;
          document.getElementById('passwordErrorMessage').hidden=true;
          document.getElementById('cpwd').disabled=false;
        }else{
          document.getElementById('passwordErrorMessage').append('Password must contains minimum 6 characters');
          document.getElementById('submitButton').disabled=true;
          document.getElementById('cpwd').disabled=true;
        }
      }

      function matchpassword(el) {
        var password = document.getElementById('pwd').value;
        if (el.value == password) {
          document.getElementById('submitButton').disabled=false;
          document.getElementById('passwordMatchMessage').hidden=true;
        }else{
          document.getElementById('passwordMatchMessage').append('Confirm Password Does Not Match !');
          document.getElementById('submitButton').disabled=true;
        }
      }
    </script>
    <style>
      .textBox{
          padding: 7px;
          border: 2px solid cornflowerblue;
          border-radius: 4px;
      }
      .submitButton{
        padding: 7px;
      }
      </style>
  </head>
  <body>
      <div class="container" style="margin-left:30%">
                  <img src="http://139.162.253.26/family_desire/mediaImage-vDBmr62JuXDoGRnO3o2UagNYH.png" width="24%">
                <h4 style="margin-left:8%">Forgot Password</h4>
            
          <% if(status == true){ %>
            <% if(message == "password changed successfully"){ %> 
               <h5 style="color:forestgreen">
            <% } else { %>
                <h5 style="color:crimson">
            <% } %>
            <%= message %>
            </h5>
            <% } %>
          <div class="row col-xs-4"> 
          <form name="form1" method="POST" action="/family_desire/changeAdminPassword">
            <input type="hidden" name="adminId" value= "<%= userId %>">
            <input type="hidden" name="adminPage" value= "true">
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" onchange="checkLength(this)" name="password" class="form-control" id="pwd">
            </div>
            <p id="passwordErrorMessage" style="color:red"></p>
            <div class="form-group">
              <label for="cpwd">Confirm Password:</label>
              <input type="password" onchange="matchpassword(this)" name="cpassword" class="form-control" id="cpwd">
            </div>
            <p id="passwordMatchMessage" style="color:red"></p>
            <div class="form-group">
              <input type="submit" disabled class="btn btn-success" id="submitButton" name="submit">
            </div>
            
          </form>
        </div>
      </div>      
  </body>
</html>